*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.navbar{
    width: 100%;
    height: 60px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav-logo{
    width: 130px;
    height: 55px;
}

.border{
    border: 1px solid transparent;
}
.border:hover{
    border: 1px solid white;
}

.amazon-logo{
    position: absolute;
    /* left: 3px; */
    width: 120px;
    height: 45px;
    background-image: url('amazon-logo.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.location-icon{
    display: flex;
    color: white;
    
}

.deliver{
    display: flex;
    margin-left: 20px;
    font-size: 0.75rem;
    color: wheat;
}

.pakistan{
    position: relative;
    left: 20px;
    font-size: 0.8rem;
    font-weight: 700;
}

#location-icon{
    position: absolute;
    top: 19px;
}
.nav-search{
    width: 650px;
    height: 42px;
    display: flex;
    justify-content: space-evenly;
}

.nav-search:hover{
    border: 2px solid rgb(229, 147, 32);
    border-radius: 6.5px;
}

.search-bar{
    width: 100%;
    height: 100%;
    border: none;
    font-size: 1rem;
}

.alloption{
    text-align: center;
    justify-content: center;
}

.select{
    border: none;
    width: 53px;
    background-color: #e6e6e6;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
}

.search-logo{
    width: 45px;
    height: 100%;
    color: black;
    border: none;
    background-color: rgb(229, 147, 32);
    align-items: center;
    display: flex;
    justify-content: center;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}

.nav-flag{
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.flag{
    background-image: url("pak-flag.png");
    width: 23px;
    height: 13px;
    background-size: contain;
    background-repeat: no-repeat;  
}

.country-select{
    width: 45px;
    height: 15px;
    border: none;
    margin: 2px;
    font-size: 0.75rem;
    background-color: black;
    color: white;
    font-weight: 550;    
}

.signin{
    color: white;
    font-size: 0.7rem;
    margin-left: 3px;
}

.account-list{
    background-color: black;
    border: none;
    color: white;
    font-size: 0.8rem;
    font-weight: 700;
}

.return{
    color: white;
    font-size: 0.7rem;
}
.order{
    color: white;
    font-size: 0.8rem;
    font-weight: 600;
    margin-top: 2.5px;
}
.nav-cart{
    display: flex;
}
#cartlogo{
    margin-top: 3px;
    font-size: 23px;
    color: white;
}

.cart{
    font-size: 0.8rem;
    color: white;
    font-weight: 600;
    margin-left: 2px; ;
    margin-top: 15px;
}

.panel{
    height: 30px;
    display: flex;
    background-color: #1f2934;
    align-items: center;
}

.panel-all{
    margin-left: 12px ;
    color: white;
    display: flex;
}
.panel-services{
    width: 550px;
    display: flex;
    justify-content: space-evenly;
    
}
a{
    text-decoration: none;
    color :white;
}
 .deals{
    color: white;
    position: absolute;
    right: 14px;
 }

 .background{
    width: 100%;
    height: 310px;
    background-image: url('amazon-background.jpg');
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
 }

 .description{
    background-color: white;
    color: black;
    display: flex;
    width: 95%;
    height: 26px;
    font-size: 0.9rem;
    margin-top: 170px;
    align-items: center;
    justify-content: center;
 }

 .description a{
    color: rgb(97, 97, 249);
    font-weight: 500;
    text-decoration: none;
 }

 .shop{
 display: flex;
 justify-content: space-evenly;
 background-color: #e3e6e6;
 }

 .box{
    margin-top: 20px;
    background-color: white;
    width: 23%;
    height: 407px;
    padding: 18px 18px 15px 18px; 
 }

 .box1-image{
    background-image: url('box1.jpg');
    background-size: cover;
    width: 100%;
    height: 300px;
    margin-top: 10px;
    margin-bottom: 22px;
 }

 .box1 p{
    color: rgb(97, 97, 249);
    font-size: 0.85rem;
    font-weight: 500px;
 }

 .childbox2{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
 }
.box2image1{
    background-image: url(box2.1.jpg);
    background-size: cover;
    height: 100px;
    width: 120px;
}

.box2image2{
    background-image: url(box2.2.jpg);
    background-size: cover;
    height: 100px;
    width: 120px;
}

.child2box2{
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
    
}
.box2image3{
    background-image: url(box2.3.jpg);
    background-size: cover;
    height: 100px;
    width: 120px;
}

.box2image4{
    background-image: url(box2.4.jpg);
    background-size: cover;
    height: 100px;
    width: 120px;
}

.box2image-text {
    margin-top: 3px;
    font-size: 12px;
}
.box2-text{
    margin-top: 25px;
    color: rgb(97, 97, 249);
    font-size: 0.85rem;
    font-weight: 500px;
}

 .childbox3{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
 }

.box3image1{
    background-image: url(box3.1.jpg);
    background-size: cover;
    height: 100px;
    width: 120px;
}

.box3image2{
    background-image: url(box4.2.jpg);
    background-size: cover;
    height: 100px;
    width: 120px;
}

.child2box3{
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
    
}
.box3image3{
    background-image: url(box3.3.jpg);
    background-size: cover;
    height: 100px;
    width: 120px;
}

.box3image4{
    background-image: url(box3.4.jpg);
    background-size: cover;
    height: 100px;
    width: 120px;
}

.box3image-text {
    margin-top: 3px;
    font-size: 12px;
}

.box3-text{
    margin-top: 25px;
    color: rgb(97, 97, 249);
    font-size: 0.85rem;
    font-weight: 500px;
}
